[2014-07-24 21:39] bermud opened #1 "cannot convert string to xs:decimal"
The Reference Implentation for WCS 1.1.1 fails in beta, but passes in the
operational web site
http://cite.demo.opengeo.org:8080/geoserver_wcs11/wcs?request=getcapabilities&
service=wcs&version=1.1.1

4 tests are not passing:
-  Test wcs:GetCoverage-main (View Details): Did not complete
- Test wcs:GetCoverage_MinimalRequest (View Details): Failed
- Test wcs:GetCoverage_MinimalRequest (View Details

[2014-07-24 21:42] bermud opened #2 "Arithmetic operator is not defined for arguments of types (xs:string, xs:string)"
When I try to run the WCS 1.1.1 test, most of the GetCoverage tests fail with
the error:
Arithmetic operator is not defined for arguments of types (xs:string,
xs:string)
I suspect there is a problem the variables used to calculate the boundingbox,
possibly the ones used in one of the following lines which are repeated in all
these test:
[code]

[Originally reported by Olsson, Mats in the OGC CITE

[2014-07-24 21:47] bermud opened #3 "Invalid parameter value for Format"
If you have more than one available format in the coverage description
document, such as image/tiff and image/GeoTiff,

[code]

both seems to be concatenated to the format parameter used in the request,
resulting in a parameter &format=image/tiff image/GeoTiff. This happens at
least in the wcs:GetCoverage_MinimalRequest test, but I suspect most
GetCoverage tests suffer from the same issue.
[Origin

[2014-07-24 21:51] bermud opened #4 "Using more than one ows:BoundingBox in coverage description breaks GetCoverage tests"
Seems to be another xpath issue. Having two or more boundingboxes in SpatialDomain in coverage description for a WCS 1.1.1 service makes the test concatenate the LowerCorner and UpperCorner tags.

[code]

Results in the following error:

Cannot convert string ""4150496.42888048 1117 1396"" to xs:decimal

Happens in at least in wcs:GetCoverage_MinimalRequest and wcs:GetCoverage_MissingIdentifier. I

[2014-11-19 14:32] bermud opened #7 "Error - cannot find declaration of element Capabilities"
![screen shot 2014-11-19 at 9 29 10 am](https://cloud.githubusercontent.com/assets/3738898/5107301/94ca7ad4-6fce-11e4-87cb-606d36135c23.png)

Testing details:
- http://ows.eox.at/cite-wcs?service=wcs&version=1.1.1&request=getcapabilities
- commit: cc7fae5eea50a59ecd78a4ef27433d39892070ea  (r2-SNAPSHOT)

---

Testing suite wcs:suite in Test Mode with defaultResult of Pass ...

Testing wcs:Main type

[2014-11-27 13:06] #1 closed, assigned to nobody

[2014-11-27 13:07] #3 closed, assigned to nobody

[2015-02-13 17:38] bermud opened #9 "Remove default URL"
Default URL http://gridlock.openplans.org:8080/geoserver-wcs/wcs in wcs.xml does not work.
Should be removed.

[2015-02-13 17:41] bermud opened #10 "Fix link to GitHub Page"
The readme file has a link that is not pointing to the default GitHub page:

[2015-02-13 17:43] #10 closed

[2015-02-13 17:44] #9 closed

[2015-03-04 21:58] bermud opened #11 "Change versioning scheme"
Change versioning scheme following the wiki
https://github.com/opengeospatial/cite/wiki/OGC-Compliance-Testing-Tools.
Instead of r4 1.4

[2015-03-04 23:50] #11 closed

[2015-04-23 09:05] dbretschneider commented on #2
I just added the lines from Luis from https://github.com/opengeospatial/ets-wcs11/issues/2#issuecomment-50082655.

See commit:
 * https://github.com/lat-lon/ets-wcs11/commit/4d5461bd50b4eea79cc624c68df17400e8ab95e6

Is a WCS 1.1.1 service available for testing?

[2015-11-26 09:13] dstenger commented on #4
We were not able to reproduce this bug. Can you please provide a service URL which leads to the described errors?

[2015-11-26 09:26] dstenger commented on #2
Can you provide a service URL which can be used to test the fix?

[2015-12-10 15:54] bermud commented on #7
I'm reopening this issue.
Some implementations passed with the WCS 1.1.1 schemas.
The fix for this issue replaced the schemas with 1.1.3 schemas, but it seems that there is no backwards compatibility with 1.1.1.

I suggest we edit the test to allow implementations to test for 1.1.1 or 1.1.3.

Both schemas are here: http://schemas.opengis.net/wcs/wcs-1_1_x.zip

[2016-01-29 12:47] dstenger commented on #7
We created a fix, so that both schemas are supported in schema validation, now: https://github.com/opengeospatial/ets-wcs11/pull/12

[2016-01-29 13:29] #7 closed

[2016-01-29 13:50] dstenger commented on #7
The pull request was merged and the fix will be part of the next release.

[2016-02-05 12:39] matsoo commented on #2
I have tested on the beta site with the new 1.6 version of the tests and this still happens for some of the coverage tests. I have not checked if the cause for the problem is the same. We have been unable to run the wcs 1.1.1 tests at all for some time because of a schema issue.

You can use the server at:
http://192.71.92.21/MapService/wcs.axd/Dem?
if you want to test.

wcs:GetCoverage_EmptyIdent

[2016-02-05 12:46] matsoo commented on #4
I have tested on the beta site with test version 1.6 and I do not get this issue anymore. The tests still crash but I think that is because of a separate issue as the bounding box parser seems to work at least in wcs:GetCoverage_MissingIdentifier.

[2016-02-10 15:10] bermud opened #13 "Master is not building due to wrong version of dependency"
WARNING] Error injecting: org.apache.maven.doxia.module.markdown.MarkdownParserModule
com.google.inject.ProvisionException: Guice provision errors:

1) Error injecting constructor, java.lang.NoSuchMethodError: org.apache.maven.doxia.parser.module.AbstractParserModule.<init>(Ljava/lang/String;Ljava/lang/String;[Ljava/lang/String;)V
  at org.apache.maven.doxia.module.markdown.MarkdownParserModule.<i

[2016-02-10 15:58] bermud commented on #13
This error is related to this issue
https://github.com/opengeospatial/cite/issues/33

[2016-02-10 15:59] #13 closed

[2016-02-17 13:50] dstenger commented on #2
We have implemented a fix and tested it successfully with your provided URL.

A pull request for this fix was created: #14

The fix will be part of the next release.

[2016-02-17 13:58] dstenger commented on #4
We were able to reproduce this error with: http://192.71.92.21/MapService/wcs.axd/Dem?
and created a fix (which was tested with the URL above).
Now, the error
[code]
does not appear anymore.

A pull request for this fix was created: #14

The fix will be part of the next release.

[2016-02-23 10:26] #2 closed

[2016-02-23 11:16] dstenger commented on #4
Pull request was merged successfully into master branch and is part of the upcoming release.

[2016-02-23 11:16] dstenger commented on #2
Pull request was merged successfully into master branch and is part of the upcoming release.

[2016-02-23 11:17] #4 closed

[2016-03-07 21:17] pomakis opened #15 "mistaken assumption that HTTP POST endpoints are required"
The test ""wcs:GetCapabilities_Response_OperationsMetadata_Post_Multiple_Connect_Points" seems to assume that a WCS 1.1.1 service must have HTTP POST endpoints to be conformant.  However, OGC 07-067r2 Subclause 8.3.2.2 makes no such statement.  It states that *if* a service has HTTP POST endpoints, then the encoding of each of these endpoints must be declared.  As far as I can tell, it's perfectly

[2016-04-04 13:00] matsoo opened #16 "The wcs:DescribeCoverage_MissingVersion test have a version parameter"
The test assertion is that a request without a version parameter should generate a service exception, but the test includes a version parameter in the request. This makes the request valid and it then fails because the response is not a service exception.

[2016-04-06 23:10] bermud commented on #16
@matsoo, thank you for reporting we will investigate.

[2016-04-06 23:21] bermud commented on #15
@pomakis, we will look at your question soon. Thank you for reporting.

[2016-04-11 13:35] dstenger commented on #15
If no "PostEncoding" Constraint is included in the capabilities, HTTP POST should not be tested in "wcs:GetCapabilities_Response_OperationsMetadata_Post_Multiple_Connect_Points".

Can you please provide a test service to analyse the issue more in detail?

[2016-04-11 13:45] dstenger commented on #16
Yes, you are right, for GET requests a version parameter is added although the assertion says otherwise.

To fix this, the version parameter of the GET request has to be removed.

[2016-04-11 13:56] pomakis commented on #15
https://demo.cubewerx.com/cubewerx/cubeserv/simple?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.1.1

[2016-04-15 16:33] dstenger commented on #15
You are right, the test fails as the GetCapabilities operation does not offer an POST DCP URL in the capabilities.

We will do further investigation.

[2016-04-18 09:46] dstenger commented on #15
Chapter 8.2.1 in WCS 1.1.1 specification states following:

"All WCS servers shall implement HTTP GET transfer of the GetCapabilities operation
request, using KVP encoding. Servers may also implement HTTP POST transfer of the
GetCapabilities operation request, using XML encoding only."

So, the POST encoding is optional for GetCapabilities.
The test has to be adjusted to consider a possible missin

[2016-05-19 13:36] dstenger commented on #15
A fix was created and is provided via pull request #17.
The fix will be part of the upcoming release.

[2016-05-19 13:40] dstenger commented on #16
A fix was created and is provided via pull request #18.
The fix will be part of the upcoming release.

[2016-06-02 15:22] dstenger commented on #15
The pull request (#17) was tested successfully, merged to the master branch and will be part of the upcoming release.

[2016-06-02 15:22] #15 closed

[2016-06-02 15:22] dstenger commented on #16
The pull request (#18) was tested successfully, merged to the master branch and will be part of the upcoming release.

[2016-06-02 15:22] #16 closed

[2016-08-05 15:19] pomakis opened #19 "xml:lang attribute not accepted in ExceptionReport element"
When testing for a valid exception report (e.g., for test wcs:GetCapabilities_Sections_Bogus), an xml:lang attribute in the root <ExceptionReport> element causes the test to fail in the following way:

Request d1e4026_1:
   Method: GET
   URL: https://demo.cubewerx.com/cubewerx/cubeserv/simple?DATASTORE=Foundation&&service=WCS&request=GetCapabilities&version=1.1.1&sections=Bogus
   Response from p

[2016-08-05 18:35] pomakis opened #20 "wcs:GetCapabilities_AcceptVersions_0.0.0 test is faulty"
The wcs:GetCapabilities_AcceptVersions_0.0.0 test verifies "that when a GetCapabilities request with an AcceptVersions parameter with the version number 'too low' is submitted, the response is valid XML that validates against the OWS Common 1.1.0 ExceptionReport schema".  However, in a GetCapabilities request, the AcceptVersions parameter is the only indication a server has as to what WCS versions

[2016-08-05 18:37] pomakis commented on #20
The same is true for the wcs:GetCapabilities_AcceptVersions_99.99.99 test.

[2016-08-05 19:09] pomakis opened #21 "fails if first coverage has no Identifier"
The wcs:DescribeCoverage_MinimalRequest doesn't work if the first coverage has no identifier (which is legal, and used to indicate a theme hierarchy).  What seems to be happening is that the identifier of the first coverage (which in this case is undefined) is assigned to the $identifier1 variable, and that variable is blindly used in the DescribeCoverage request on the assumption that it's actual

[2016-08-05 19:15] pomakis commented on #21
This is also true for the wcs:DescribeCoverage_MissingVersion test (and probably others).

[2016-08-05 19:16] pomakis opened #22 "wcs:DescribeCoverage_MissingVersion doesn't test missing version"
The wcs:DescribeCoverage_MissingVersion test is supposed to "verify that when a DescribeCoverage request with a missing version parameter is submitted, the response is valid XML that validates against the OWS Common 1.1.0 ExceptionReport schema".  However, it actually sends version=1.1.1 in the request, as is clear from the XML source code for the test.

[2016-08-08 09:00] dstenger commented on #19
Thank you for reporting the issue. We will do further investigation.

[2016-08-08 09:05] dstenger commented on #20
Thank you for reporting the issue. We will do further investigation.

[2016-08-08 10:24] dstenger commented on #21
Thank you for reporting the issue. We will do further investigation.

[2016-08-08 10:31] dstenger commented on #22
Thank you for reporting the issue.

This bug was already reported in #16 and has been fixed since version 1.8.
Can you please check if the error is still occurring in 1.8?

[2016-08-11 13:16] dstenger commented on #19
The lang attribute definition is commented out in the schema which is used for validation of the response (ets-wcs11/src/main/resources/xsd/ogc/ows/1.1.0/owsExceptionReport.xsd).
We will investigate why this is the case and update the schema if necessary.

[2016-08-12 08:44] dstenger commented on #20
I agree with your analysis. If the version parameter is missing the server cannot know the version which was meant to be requested (thus, the server cannot know what exception report is expected). This is confirmed, as you already stated, by OWS 1.1.0 specification (OGC 06-121r3), section 7.3.2.

On the other hand, it can be argued that a service which is meant to pass the test suite should just s

[2016-08-17 06:59] dstenger commented on #21
We have created a fix for this issue which is provided by following pull request: #23.
The pull request will be merged into master branch when the next release is created (if testing of the fix is successful).

Please note that wcs:DescribeCoverage_MissingVersion is still failing as now a DescribeCoverage response is returned instead of an exception (but identifier problem is solved).

Also, the t

[2016-09-01 13:53] dstenger commented on #19
Schema was updated in following pull request: #24. This solves the reported bug.

[2016-09-01 14:03] #19 closed

[2016-09-01 14:32] dstenger commented on #21
The pull request was merged into the master branch and will be part of the upcoming release.

[2016-09-01 14:32] #21 closed

[2016-09-01 14:32] dstenger commented on #19
The pull request was merged into the master branch and will be part of the upcoming release.

[2016-10-21 06:53] dstenger commented on #20
Issue is fixed by pull request #25.
The fix will be part of the next release of the ets.

[2016-10-25 11:46] dstenger opened #26 "Several tests fail as syntax for RangeSubset is erroneous"
Following tests fail:
- **GetCoverage_RangeSubset_InterpolationMethod**
- **GetCoverage_RangeSubset_Axis_Identifier_One_Key**
- **GetCoverage_RangeSubset_Axis_Identifier_Some_Keys**
- **GetCoverage_RangeSubset_Axis_Identifier_All_Keys**

In all cases whitespaces are included in the RangeSubset parameter.
E.g.:
- RangeSubset=Field_1:nearest linear cubic
- RangeSubset=Field_1[BAND[1 2 3]]

According

[2016-10-25 11:50] dstenger opened #27 "Several tests fail due to a InvocationTargetException"
Following tests are failing:
- GetCoverage_RangeSubset_KVP_Syntax_Semicolon_Between_Field_Identifier_And_InterpolationMethod
- GetCoverage_RangeSubset_KVP_Syntax_Semicolon_Between_Axis_Identifiers
- GetCoverage_RangeSubset_KVP_Syntax_Semicolon_Between_Axis_Keys
- GetCoverage_RangeSubset_KVP_Syntax_Missing_Opening_Square_Bracket_Before_Axis_Identifier

Although the tested service returns an expecte

[2016-10-26 00:26] greatzzk commented on #27
Thank you. @bermud .
These tests also have problems like ones in: [https://github.com/opengeospatial/ets-wcs11/issues/26](url)

[2016-11-04 06:24] dstenger commented on #20
The fix was successfully tested, merged into master branch and will be part of the next release.

[2016-11-04 06:24] #20 closed

[2016-11-04 09:57] dstenger commented on #26
**Analysis**

Unfortunately, the test service is not available any more. So results of analysis can not be verified.

**GetCoverage_RangeSubset_InterpolationMethod**

Following value is picked from DescribeCoverage response: ```CoverageDescriptions/CoverageDescriptionRange/Field/InterpolationMethods/InterpolationMethod```

Does the test server offer multiple methods in one InterpolationMethod elem

[2016-11-04 10:45] dstenger commented on #27
You are right. There are used similar erroneous requests as in #26. These probably lead to the failure of the request method.
So, a fix for #26 should also solve this issue.

Nevertheless, the error message could be improved for that tests.

Is there a test service we can use for verification of a possible fix?

[2016-11-04 11:58] dstenger commented on #26
I just found a log of an old test session with the test server.

The element structure of the test server is correct.

So, the XPath expression of those tests has to be fixed.

To make verification of a potential fix possible: Can you please reactivate the test server?

[2016-11-04 14:30] bermud commented on #22
@pomakis, please let us know if you still have the issue, if not we will close it. Thank you!

[2016-12-02 13:21] dstenger commented on #26
We are currently working on a fix.

Can you provide a service we can use for testing?

[2016-12-02 13:21] dstenger commented on #27
Can you provide a service we can use for testing?

[2016-12-15 09:06] dstenger commented on #26
We were able to test the fix successfully.
Pull request was created (#28) and will be merged right before the next release is built.

[2016-12-15 09:06] dstenger commented on #27
We were able to test the fix successfully.
Pull request was created (#28) and will be merged right before the next release is built.

[2017-01-16 21:36] pomakis opened #29 "wcs:DescribeCoverage_Response_InterpolationMethods test is faulty"
The wcs:DescribeCoverage_Response_InterpolationMethods test on a WCS server with two coverages A and B sends a DescribeCoverage request with identifiers=A,B, (note the trailing comma).  According to the list-parsing rules of OWS Common 1.1.0 (OGC 06-121r3) section 11.5.3, this is clearly a three-item list where the third item is an empty string.

This happens, for example, when testing "https://de

[2017-01-16 21:59] pomakis opened #30 "WCS 1.1.1 tests make requests with double ampersands"
The OWS Common specification (OGC 06-121r3) section 11.2 states that "an Online Resource URL intended for HTTP GET requests is in fact only a URL prefix" and furthermore that "an HTTP GET URL prefix always ends in either a question mark '?' or an ampersand '&'.  However, the WCS 1.1.1 CITE tests don't seem to expect this, since it blindly adds an ampersand even if the prefix already ends in one.

[2017-01-16 22:02] pomakis commented on #29
This is also the case for the wcs:DescribeCoverage_Response_Identifier_XML, wcs:DescribeCoverage_Response_SupportedFormat and wcs:DescribeCoverage_Response_FieldIdentifier_XML tests.

[2017-01-17 11:33] dstenger commented on #29
Yes, that is correct. The test suite expects at least three coverages for the listed tests.

So, this should be added to the preconditions described on following page: http://cite.opengeospatial.org/teamengine/about/wcs/1.1.1/site/

Also, it should be checked whether the third coverage is really mandatory for listed tests. If this is not the case, the tests should be improved and the precondition

[2017-01-17 11:34] dstenger commented on #29
We will do further investigation.

[2017-01-18 20:55] pomakis commented on #22
This particular issue seems to be fixed (despite the fact that http://cite.opengeospatial.org/teamengine/listings/srv_local_teamengine-prod_TE_BASE_scripts_wcs_1.1.1_ctl_wcs.html#wcs:DescribeCoverage_MissingVersion still seems to show that it includes a version parameter), so I guess it's okay to close it.  However, there's a more fundamental problem with the wcs:DescribeCoverage_MissingVersion te

[2017-01-18 20:55] #22 closed

[2017-01-18 21:16] pomakis opened #31 "wcs:DescribeCoverage_MissingVersion test is faulty"
The wcs:DescribeCoverage_MissingVersion test verifies that when a DescribeCoverage request with a missing version parameter is submitted, the response is valid XML that validates against the OWS Common 1.1.0 ExceptionReport schema.  However, if the request doesn't indicate a version number, how is the server supposed to know what version of the WCS is being invoked, and therefore what type of exce

[2017-01-19 09:35] dstenger commented on #31
Thank you for reporting the issue.

Do you agree that issue #20 discusses the same problem except that a different test is targeted?

[2017-01-19 13:40] pomakis commented on #31
Yes, it's the same problem in the sense that the server can't be expected to respond with an exception report of a specific version if the client doesn't indicate a version number in the request.

[2017-02-01 13:38] dstenger commented on #27
The feature branch was tested successfully and was merged into master branch.
The fix will be part of the upcoming release.

[2017-02-01 13:38] #27 closed

[2017-02-01 13:38] dstenger commented on #26
The feature branch was tested successfully and was merged into master branch.
The fix will be part of the upcoming release.

[2017-02-01 13:38] #26 closed

[2017-02-09 16:13] dstenger commented on #31
Decision: The test is modified so that it passes with both ExceptionReport versions.

[2017-04-24 08:12] lgoltz commented on #29
The following six tests should be concerned:
 * wcs:DescribeCoverage_Response_InterpolationMethods
 * wcs:DescribeCoverage_Response_Identifier_XML
 * wcs:DescribeCoverage_Response_SupportedFormat_XML
 * wcs:DescribeCoverage_Response_FieldIdentifier_XML
 * wcs:DescribeCoverage_Response_InterpolationMethod_XML
 * wcs:DescribeCoverage_Response_AxisIdentifier_XML
 * wcs:DescribeCoverage_Response_AxisK

[2017-04-26 12:38] dstenger commented on #31
Issue was fixed and pull request created: #32.
Fix will be part of the next release if all functional tests are successful.

[2017-04-26 13:29] dstenger commented on #29
Decision: Fix will be implemented as described above.

[2017-05-04 14:01] dstenger commented on #29
Issue was solved as described above and pull request was created: #33
Pull request will be merged into master branch as soon as testing will be finished successfully.

[2017-05-10 10:36] keshav-nangare opened #34 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-05-10 12:26] dstenger commented on #29
Was was tested succesfully, merged into master branch and will be part of the next release.

[2017-05-10 12:26] #29 closed

[2017-05-10 12:26] dstenger commented on #31
Was was tested succesfully, merged into master branch and will be part of the next release.

[2017-05-10 12:26] #31 closed

[2017-10-11 20:56] pomakis opened #35 "wcs:DescribeCoverage_Response_InterpolationMethods test is still faulty"
The wcs:DescribeCoverage_Response_InterpolationMethods test seems to sometimes leave out the comma between identifiers in its DescribeCoverage request.

This happens, for example, when testing "https://onestop.cubewerx.com/cubewerx/cubeserv/cite_wcs?DATASTORE=Foundation&service=WCS&request=GetCapabilities&VERSION=1.1.1", which has three coverages: "etopo2", "gtopo30" and "X1km177240497702008GROUPE

[2017-10-12 08:19] dstenger commented on #35
Thank you for reporting this issue. We will investigate soon.

[2017-10-12 08:31] dstenger commented on #30
This issue is related to https://github.com/opengeospatial/ets-wms13/issues/41

[2017-10-12 09:56] dstenger commented on #35
Related to #29.

[2018-01-19 06:32] lgoltz opened #36 "unable to execute wcs 1.1.1 compliance test"
Sample 1.1.1 wcs on my server:
https://ogc.webgistesting.net/server/services/wcs111/ImageServer/WCSServer?request=GetCapabilities&service=WCS&version=1.1.1

When running it against team engine production harness, I get this:
![image](https://user-images.githubusercontent.com/11200872/34899581-ad4be078-f7ae-11e7-9e55-5c88e98c461b.png)

the very first failure is to test getcapabilities request, it r

[2018-01-19 06:32] lgoltz commented on #36
@greatzzk Please check your capabilities. The target namespace of the WCS 1.1.1 schema is http://www.opengis.net/wcs/1.1. That's why you have to set the default  namespace to this namespace,  not http://www.opengis.net/wcs/1.1.1 as in you capabilities.

That should be the reason why the URL as well as other detail cannot be parsed from the capabilities as you can see in the test details of `wcs:Ge

[2018-01-19 06:33] lgoltz commented on #36
@lgoltz , thanks for the reply.
We referred to doc: 07-067r2_Web_Coverage_Service_WCS_version_1.1.1.pdf when doing the development.
There is an getCapabilities operation example at page 20, section 8.4:
![image](https://user-images.githubusercontent.com/11200872/35069928-7d50f71a-fb90-11e7-90d2-62ecaa9499b9.png)
According to the picture above, it uses http://www.opengis.net/wcs/1.1.1 rather than h

[2018-01-22 20:11] bermud commented on #36
If you look here: http://schemas.opengis.net/wcs/, the schema for 1.1.1 is available at wcs-1_1_x.zip; however, I see is not listed as an unzipped folder.

[2018-01-22 20:22] lgoltz commented on #36
I think http://schemas.opengis.net/wcs/1.1/ contains the latest version zipped in http://schemas.opengis.net/wcs/wcs-1_1_x.zip. targetNamespace is still http://www.opengis.net/wcs/1.1

[2018-01-22 21:08] bermud commented on #36
@Igoltz, The document "Policy Directives for Writing and Publishing OGC Standards: [TC Decisions" OGC 06-135r11 section 13.5](http://portal.opengeospatial.org/files/?artifact_id=40077 ) provides the correct guidance, when trying to get the latest schemas for 1.1 and the structure of the schemas at OGC. But it doesn't says what happens when you want to validate a 1.1.1 implementation. I think the 1

[2018-02-22 07:54] lgoltz commented on #36
In  section `13.3.2 Version designator` of the  [Policy Directives for Writing and Publishing OGC Standards](http://portal.opengeospatial.org/files/?artifact_id=40077) I can find the following hint:

[code]

A 1.1.1 implementation should be validated against the 1.1.1 schemas. As 1.1.1 is a bug fix version of 1.1.0 also the validation of a 1.1.0 implementation against the 1.1.1 schemas should be f

[2018-02-22 10:46] lgoltz commented on #30
@pomakis Is your service able to handle the double ampersand?

I think we can close this ticket (as discussed in https://github.com/opengeospatial/ets-wms13/issues/41) if the service can handle this.

[2018-02-22 19:33] greatzzk commented on #36
@lgoltz , i have the service at hand right now. I just tested against "te2", which is still not working. where else can i check it?

[2018-02-26 06:52] lgoltz commented on #36
@greatzzk There are no any fixes yet. We still make some investigations. Can you make the service (https://ogc.webgistesting.net/server/services/wcs111/ImageServer/WCSServer?request=GetCapabilities&service=WCS&version=1.1.1) available for us?

[2018-02-26 06:56] greatzzk commented on #36
@lgoltz, I can definitely share the service with you. Due to security reasons, I have to limit the IP address that would like to visit the server. Can you pin me your IP address so that I can add to my white list? (my email: zzhou@esri.com)

[2018-02-26 21:39] lgoltz commented on #36
The service returns an empty Capabilities document if the request contains `sections=OperationsMetadata,Contents`. The URL used for the further request cannot be parsed and the following test fails, too.

WCS 1.1.1 Table 1 — Implementation of parameters in GetCapabilities operation request:
[code]

I assume "the specified default response" contains all sections.  (Must be rechecked!)

Request send

[2018-02-26 22:07] greatzzk commented on #36
@lgoltz , yep. I see the problem. It is a regression. We don't have such problem in previous releases. We will fix this - two or more sections in request will return empty getcapabilities in wcs 1.1.1 server.

Can you show me all problem under our 1.1.1 server right now? Or can you point me to a server that I can test against?

Thanks.

[2018-02-27 06:59] lgoltz commented on #36
@greatzzk If you have fixed this you can test with the official version of the [TEAM Engine](http://cite.opengeospatial.org/teamengine/). The latest release of the ETS WCS 1.1 is running there.

[2018-02-28 09:56] lgoltz commented on #35
The problem affects (all) tests of the test group `wcs:DescribeCoverage-main`. The first part of the identifier (before the comma, named `idenfier1`) is selected from the capabilities ($result1) with the  following XPath:

[code]

This selects all first identifiers (`etopo2X1km177240497702008GROUPEALTA`).

The XPath selecting `identifier1` (as well as `identifier2` and `identifier3`) must be fixed

[2018-03-05 19:55] greatzzk commented on #36
@lgoltz , do i have to fix this before i can get it working in the wcs 1.1.1 test suite?
it looks like irrelevant to the failure in get capablities minimum test case. here is the new result i get, which is the same as before:
![image](https://user-images.githubusercontent.com/11200872/36996580-031266c2-206c-11e8-9051-d3042f925e7a.png)
![image](https://user-images.githubusercontent.com/11200872/369

[2018-03-07 13:10] lgoltz commented on #36
@greatzzk Yes it must be fixed before. Otherwise the relevant parts of the capabilities, like DCP URLs are not available.

[2018-04-04 09:49] dstenger commented on #30
@pomakis Is there any update regarding the reported behaviour?

[2018-04-04 11:01] keshav-nangare commented on #35
RI[1]: https://onestop.cubewerx.com/cubewerx/cubeserv/cite_wcs?DATASTORE=Foundation&service=WCS&request=GetCapabilities&VERSION=1.1.1

Question: Is this service consistent with the **`<CoverageSummary>`**?

If we see the response of above RI[1] we found the different level of <CoverageSummary> element.

[code]

If we see the above the XML snippet to extract identifiers, but the identifire1, identi

[2018-04-09 06:17] keshav-nangare commented on #35
Fixed this issue with commit: 2d41cf3b0817ba7c743b975557a5fd96d3e948b4. [PR: #37]

[2018-04-11 10:41] lgoltz commented on #34
From [specification](https://portal.opengeospatial.org/files/07-067r5):
[code]

The test suite has the following tests on the second level:
* wcs:GetCapabilities-main
* wcs:DescribeCoverage-main
* wcs:GetCoverage-main

All of them should be configured as basic conformance classes.

[2018-04-11 12:02] lgoltz commented on #34
Conformances classes was configured as proposed in https://github.com/opengeospatial/ets-wcs11/issues/34#issuecomment-380408047: PR #38

[2018-04-25 11:25] #34 closed

[2018-12-21 10:30] lgoltz opened #39 "Improve tests with multiple identifiers"
- [x] Several tests DescribeCoverage_ValidWithBogusIdentifiers expects multiple identifiers, but only the first is used: https://github.com/opengeospatial/ets-wcs11/blob/1db93f2d883e8cc4521d5c5be9bf50e93e06d01e/src/main/scripts/ctl/wcs.xml#L4454-L4517
  * Only required identifiers should be passed to the tests.
- [x] Other tests (e.g. DescribeCoverage_MultipleIdentifiers) require multiple identiif

[2018-12-21 10:48] #35 closed

[2018-12-21 10:50] lgoltz opened #40 "New HTML report is not shown"
Tested with https://onestop.cubewerx.com/cubewerx/cubeserv/cite_wcs?DATASTORE=Foundation&service=WCS&request=GetCapabilities&VERSION=1.1.1 on a local docker environment (TEAM Engine 5.3, 1.13-SNAPSHOT).

[2018-12-21 10:53] lgoltz opened #41 "Errors in tomcat log"
Tested with https://onestop.cubewerx.com/cubewerx/cubeserv/cite_wcs?DATASTORE=Foundation&service=WCS&request=GetCapabilities&VERSION=1.1.1 on a local docker environment (TEAM Engine 5.3, 1.13-SNAPSHOT).

Several errors are reported in the tomcat log:
[code]

[2018-12-21 10:54] #36 closed

[2018-12-25 09:41] keshav-nangare commented on #40
@lgoltz

I have tested the ets-wcs11 and teamengine with above mentioned version with the docker. The new HTML report is generated.
Here is the result:

![result](https://user-images.githubusercontent.com/14732650/50419507-1d675900-0857-11e9-887d-2cb3eae02c36.png)

[2018-12-26 13:42] keshav-nangare commented on #41
@lgoltz

I am able to reproduce this issue on local environment if you can see the session/error_log/log.xml the XMLValidatingParser is failed to parse request resource.

The Test `wcs:GetCoverage_RangeSubset_Repeated_Identifier` is failed with the following error:

[code]

In similar way following tests were failed:

- wcs:GetCoverage_RangeSubset_Bogus_Identifier
- wcs:GetCoverage_RangeSubset_Val

[2018-12-28 09:44] keshav-nangare commented on #39
@lgoltz

Removed unused identifiers from the test.

The test `wcs:DescribeCoverage_MultipleIdentifiers` is updated now and will be skipped if required identifiers are not found.

Fixed with this PR: #42

[2019-01-02 09:17] dstenger commented on #41
@lgoltz Errors are expected. Do you see any improvements which can be done to improve logging? Otherwise, this issue can be closed.

[2019-01-03 15:38] lgoltz commented on #41
The response is a multipart response with XML and an Image, expected is an ExceptionReport
@keshav-nangare Can you check if the XMLValidatingParser can be replaced with an HTTPParser?

E.g.
[code]

[2019-01-03 16:16] lgoltz commented on #39
As far as I see the test is invoked if the service provides exact two coverages, but fails cause identifier3 is still used.

[2019-01-04 06:54] keshav-nangare commented on #39
@lgoltz

Should I remove all entries of `identifier3`?

[2019-01-07 05:42] lgoltz commented on #39
@keshav-nangare The `identifier3` should be kept, but the test should not append it, if not available.

[2019-01-08 06:35] keshav-nangare commented on #39
@lgoltz

Update the test with identifier3 which will append only if it exists. Fixed with this commit: 89eb04e

[2019-01-29 08:49] #40 closed

[2019-02-01 17:17] keshav-nangare opened #43 ""rangesubset" parameter problem in WCS 1.1.1 test"
Reference from:

https://github.com/opengeospatial/teamengine/issues/388

[2019-02-14 14:56] dstenger opened #45 "Test wcs:GetCoverage_BoundingBox_OutOfRangeCoordinates is not covered by specification"
I cannot find any hint in specification that when a GetCoverage request with a BoundingBox parameter with coordinate values which are out of range is submitted, the response must not be an exception.

This makes test `wcs:GetCoverage_BoundingBox_OutOfRangeCoordinates` obsolete.

Checked specification: OGC 07-067r2

[2019-03-18 14:21] dstenger commented on #45
@keshav-nangare Please remove the cited test.

[2019-03-19 14:58] dstenger opened #47 "Enable Docker support"
Please use following manual: https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2019-03-19 15:17] dstenger commented on #43
Successfully tested pull request.

[2019-03-19 15:17] #43 closed

[2019-04-10 13:04] dstenger opened #49 "Test wcs:GetCapabilities_Sections_Bogus - Specification is unclear about validation of values"
Table 1 of specification (OGC 07-067r2, page 10) states in footnote "a": "Server shall check that each value received is an allowed value."

However, specification does not describe what happens if the value is not allowed. There is no hint that an exception must be returned.

Thus, test might be erroneous.

[2019-04-11 17:48] dstenger commented on #47
@keshav-nangare Dockerfile shall be moved to `src/docker/Dockerfile`. Documentation is correct here. Can you please update the pull request?

[2019-04-17 06:05] #45 closed

[2019-04-17 06:25] #47 closed

[2019-04-17 19:01] #39 closed

[2019-05-29 09:22] #30 closed

[2019-06-03 09:56] dstenger opened #50 "Enable REST API"

[2019-07-02 18:52] pomakis opened #51 "Invalid KVP parameter "Identifier" in wcs:DescribeCoverage_Response_InterpolationMethods test"
The wcs:DescribeCoverage_Response_InterpolationMethods test seems to sometimes leave out the comma between identifiers in its DescribeCoverage request.

This happens, for example, when testing "https://onestop.cubewerx.com/cubewerx/cubeserv/cite_wcs?DATASTORE=Foundation&service=WCS&request=GetCapabilities&VERSION=1.1.1", which has three coverages: "etopo2", "gtopo30" and "X1km177240497702008GROUPE

[2019-07-02 18:53] pomakis commented on #35
It has not been fixed.  The issue still reproducibly exists as described in my original description of the issue.  I don't seem to have the power to re-open the issue, so I opened a new one (#51).

[2019-07-03 08:30] dstenger commented on #51
Thank you for reporting. We will do further investigation.

How/ on which environment did you execute the tests?

[2019-07-05 12:46] pomakis commented on #51
I executed the Web Coverage Service (WCS) 1.1.1 CITE test (version 1.12) via the latest Google Chrome, and pointed it to the abovementioned URL.

[2019-07-31 07:57] lgoltz commented on #51
@pomakis I've just rechecked on http://cite.opengeospatial.org/teamengine/ The prod environment was updated on July 19th, the test is successful now.

[2019-07-31 07:57] #51 closed

[2019-09-04 13:59] keshav-nangare commented on #50
@dstenger

Currently the test implementation in a single file and it's hard to implement the REST interface with the current implementation.

[2019-09-05 06:27] keshav-nangare opened #52 "Refactor test suite to make it more suitable for REST interface"
Reference from: #50

[2019-09-05 12:03] keshav-nangare commented on #52
Fixed with this commit: de3630f

[2019-09-05 13:40] keshav-nangare commented on #52
Added fixe same issue which is occurred in https://github.com/opengeospatial/ets-wcs20/issues/84#issuecomment-516458687.
Also, fixed extra parameter issue, if the service has the extra parameter then it will process now.

Added fix with this commit: ea756ef

[2019-09-06 11:17] keshav-nangare commented on #50
Fixed with this commit: 9ae096adc46bcd80679fbe6244997a4ca4449d81 & PR: #54

[2019-09-13 14:36] pomakis opened #55 "illegal DescribeCoverage requests sent"
The WCS 1.1.1 service at
https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs111?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.1.1
fails all of the DescribeCoverage_Response_* tests because the test suite sends the following DescribeCoverage request:

https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs111?DATASTORE=Foundation&request=DescribeCoverage&service=WCS&identifiers=e

[2019-09-19 19:55] pomakis opened #56 "erroneous requirement that each CoverageSummary has an abstract"
While it might be considered good practice for each CoverageSummary to have an abstract description, the WCS 1.1.0 specification by no means requires it.  Many coverages simply don't have abstract descriptions available for them, and it's totally legal to serve such coverages through a WCS.  Therefore, the test suite shouldn't fail if it encounters a coverage without an abstract description.  In o

[2019-09-19 20:20] pomakis commented on #49
OGC 07-067r2 section 8.3.6 states:

"When a WCS server encounters an error while performing a GetCapabilities operation, it shall return an exception report message as specified in Clause 8 of [OGC 06-121r3]. The allowed exception codes shall include those listed in Table 8 of Subclause 7.4.1 of [OGC 06-121r3] when the updateSequence parameter is implemented by the server."

I think that last part

[2019-10-15 13:10] keshav-nangare commented on #41
@lgoltz

[code]
I have updated the parser configuration to above in request and tested with the same service but still getting failed with the same error.

I have configured the parser with the below configuration then the test gets passed. I saw the response but it doesn't have exception report still the test getting passed.

[code]

Test Request: `wcs:GetCoverage_RangeSubset_Repeated_Identifier`

[2019-10-16 09:52] dstenger commented on #56
@keshav-nangare Can you please analyse this issue?

[2019-10-24 18:49] greatzzk opened #57 "wcs 1.1.1 compliance test getcapabilities issue"
based on the log, the te2 is testing with url like:
![image](https://user-images.githubusercontent.com/11200872/67515707-10242200-f654-11e9-9abd-c2d51988db11.png)
this is not right. the "version" parameter should be changed to "acceptversions".
reason:
![image](https://user-images.githubusercontent.com/11200872/67515807-3ea1fd00-f654-11e9-81bb-4ed7883e5afb.png)

[2019-10-31 16:48] greatzzk commented on #49
@dstenger @pomakis
Thanks for creating the issue and the useful input. We've updated our implementation per comment.

[2019-11-12 07:42] keshav-nangare commented on #57
According to documentation the GetCapabilities test should use AcceptVersions parameter instead of version. There are few GetCapabilities tests that are using acceptversions parameter and remaining are using the version parameter.

Also I saw the other test implementation as below:

Currently `GetCoverage`  test request using version parameter:
![image](https://user-images.githubusercontent.com/14

[2019-11-12 08:23] greatzzk commented on #57
@keshav-nangare
Yes I agree. this issue was created for 1.1.1 getcapabilities only. thanks

[2019-11-27 09:22] dstenger commented on #56
Test derives from abstract test suite: https://opengeospatial.github.io/ets-wcs11/ats.html
Test: Table 33. GetCapabilities Response OperationsMetadata Contents CoverageSummary Abstract

I also do not find any hint in specification that `Abstract` is mandatory.

Thus, I propose to remove the test and to update the test suite.

[2019-11-28 09:06] keshav-nangare commented on #56
Fixed with this commit: 7fb4ba692f9804c293b3c5a4f9a82ca07baaa1e1

[2020-01-06 14:18] dstenger commented on #49
So, all questions should be clarified and the test implementation is correct.

[2020-01-06 14:18] #49 closed

[2020-01-07 14:30] lgoltz commented on #56
PR #59 was reverted by #60

[2020-01-07 14:54] #52 closed

[2020-01-08 08:14] lgoltz commented on #50
I've added a missing jar to the lib folder of the docker container and updated the docker.teamengine.version. The ETS can be executed via REST with http://localhost:8081/teamengine/rest/suites/wcs11/run?url=http://ows.eox.at/cite/mapserver?service=wcs%26version=1.1.1%26request=getcapabilities but throws an exception:
[code]
Some parameters requires user input: https://github.com/opengeospatial/ets

[2020-01-08 08:25] lgoltz commented on #55
@keshav-nangare Can you take a look at this?

[2020-01-08 09:01] #57 closed

[2020-02-25 07:56] keshav-nangare commented on #50
@lgoltz

Fixed this issue and disabled the HTML form to appear in REST API execution and passed the required parameter via query-parameter.

[2020-03-02 08:52] keshav-nangare commented on #55
The test is expecting two or three identifiers. We can see that there is only one identifier due to concat operation the extra comma gets appended. So we have updated test which will set an identifier according to its availability.

[2020-05-04 12:56] keshav-nangare commented on #56
Service:
[1] https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs111?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.1.1

TeamEngine Version: 5.5. SNAPSHOT

I am able to execute the test suite successfully with the above service [1]. The test `GetCapabilities_Response_OperationsMetadata_Contents_CoverageSummary_Abstract` does not exist more.

[2020-05-06 08:10] #56 closed

[2020-05-29 12:56] #55 closed

[2020-05-29 13:06] #50 closed

[2020-07-14 06:54] ghobona commented on #41
@keshav-nangare

The service endpoint appears to have changed slightly to https://onestop.cubewerx.com/cubewerx/cubeserv/?DATASTORE=Foundation&service=WCS&request=GetCoverage&version=1.1.1&identifier=etopo2&BoundingBox=-89.98333333333333,-179.9833333333333,89.98333333333333,179.9833333333333,urn:ogc:def:crs:EPSG::4326&RangeSubset=GEOMETRY%2CGEOMETRY&Format=image/tiff

[2020-07-15 08:22] ghobona commented on #41
Discussion between @keshav-nangare and @ghobona on 2020-07-15.

@keshav-nangare will check whether an if-else condition can be used to check whether the MIME type of the response is xml or a multipart.

[2020-07-22 14:50] keshav-nangare commented on #41
The following tests are fixed with the PR #63 :
1. wcs:GetCoverage_RangeSubset_Repeated_Identifier
2. wcs:GetCoverage_RangeSubset_Bogus_Identifier
3. wcs:GetCoverage_RangeSubset_Valid_With_Bogus_Identifiers
4. wcs:GetCoverage_RangeSubset_InterpolationMethod_Missing

[2020-07-29 21:42] greatzzk commented on #26
@dstenger @lgoltz -
what is the status of this issue? i am seeing regression bounced back in te2. it is still sending with whitespace as field deliminators.
![image](https://user-images.githubusercontent.com/11200872/88856619-a79d3f00-d1a9-11ea-8396-53c16993c9a3.png)

[2020-07-29 21:49] greatzzk opened #64 "wcs 111 compliance test cannot correctly parse the time from a describecoverage call"
time period is returning like the following:
![image](https://user-images.githubusercontent.com/11200872/88857082-78d39880-d1aa-11ea-87f3-a256e7549743.png)
but a later getcoverage call is wrongly using the time like the following:
![image](https://user-images.githubusercontent.com/11200872/88857122-8c7eff00-d1aa-11ea-8836-76a821bd4cd2.png)
this is for test on te2: Test wcs:GetCoverage_TemporalSubs

[2020-07-30 09:43] dstenger commented on #64
Thank you for reporting.
Is there a test service available?

@keshav-nangare Can you please take a look at the reported behavior?

[2020-07-30 09:59] dstenger commented on #26
This issue should already be fixed and installed on the Beta environment (https://cite.opengeospatial.org/te2/).

Can you please create a new issue if there are further problems?
Is it possible to provide a test service to reproduce the problem?

[2020-07-30 20:00] greatzzk commented on #64
@dstenger @keshav-nangare
pls try with this service.
http://54.144.24.46:6080/arcgis/services/ndfd2/ImageServer/WCSServer?request=GetCapabilities&service=WCS
I open it for both of your IPs on my file. let me know if you cannot access it.

[2020-07-30 20:11] greatzzk opened #65 "Regression: Several tests fail as syntax for RangeSubset is erroneous"
It looks like the problem described in the following issue is bounced back: https://github.com/opengeospatial/ets-wcs11/issues/26

To reproduce, just throw this wcs in te2 for running against wcs1.1.1 compliance test and watch out for:
Test wcs:GetCoverage_RangeSubset_Identifier (View Details): Failed

`http://54.144.24.46:6080/arcgis/services/ndfd2/ImageServer/WCSServer?request=GetCapabilities&se

[2020-07-30 20:11] greatzzk commented on #26
dirk, i did use the te2 env and saw this problem. i've created another issue for this one and attached the testing service in that issue. thanks.
https://github.com/opengeospatial/ets-wcs11/issues/65

[2020-07-31 08:31] dstenger commented on #65
@keshav-nangare Can you please take a look at the reported behavior?

[2020-08-03 15:54] keshav-nangare commented on #64
@dstenger

According to the specification document, he is right we should update the test which will use correct value(timestamp. Below are the doc references:

![image](https://user-images.githubusercontent.com/14732650/89200747-13c6db00-d5ce-11ea-9cbb-24a6a12f652b.png)

According to sub-clause 9.3.2.4, the `TimeSequence` parameter value should be a valid timestamp(We can see the examples from be

[2020-08-05 08:39] ghobona commented on #64
As discussed 2020-08-05, the timestamp on line 3635 should be changed to a valid timestamp following the structure on page 35 of 07-067r2.

[2020-08-06 15:21] keshav-nangare commented on #64
@dstenger @ghobona @greatzzk

I have fixed this issue and the test will parse the timestamp from service response and passed to request.

The following tests are updated:
- wcs:GetCoverage_TemporalSubset_TimePosition_Early
- wcs:GetCoverage_TemporalSubset_TimePosition_Late

[2020-08-06 21:24] greatzzk commented on #64
@keshav-nangare
1. you mentioned only two tests are updated, but i am seeing a couple of more are failing with similar reasons too. are they fixed as well?
![image](https://user-images.githubusercontent.com/11200872/89584113-64b61980-d7f0-11ea-9d5c-07a6f00245ac.png)
![image](https://user-images.githubusercontent.com/11200872/89584151-70a1db80-d7f0-11ea-9f8c-7b6a152345c4.png)
2. could you push to t

[2020-08-11 17:36] greatzzk commented on #65
@keshav-nangare
have you reproduced this issue? do you still need the service? I am going to update the server's build, so it will be offline for a while.

[2020-08-12 14:57] keshav-nangare commented on #64
@greatzzk

Is it a valid request if the `TimeSequence` parameter is empty?

Test name: `wcs:GetCoverage_TemporalSubset_TimePosition`
Request:
http://ec2-54-144-24-46.compute-1.amazonaws.com:6080/arcgis/services/ndfd2/ImageServer/WCSServer?service=WCS&request=GetCoverage&version=1.1.1&identifier=ndfd&BoundingBox=0,0,3035,1832,urn:ogc:def:crs:OGC::imageCRS&TimeSequence=&Format=image/GeoTIFF

[2020-08-12 17:19] greatzzk commented on #64
@keshav-nangare
yes. it will be just ignored by server, which means there is no TimeSequence - and it is an optional parameter.
reference:
![image](https://user-images.githubusercontent.com/11200872/90046250-12a84480-dc85-11ea-8938-b3165d7e230b.png)

[2020-08-13 07:01] keshav-nangare commented on #64
@dstenger @ghobona

I have referred the schema and the response received by DescribeCoverage request seems to be correct according to schema documentation.
https://github.com/opengeospatial/ets-wcs11/blob/06b632ac28947196835865a46c5959e1f9004fb6/src/main/resources/xsd/ogc/wcs/1.1.1/wcsCommon.xsd#L50-L71

According to the schema, we have to update the XPath for the following tests:
1. wcs:GetCovera

[2020-08-13 08:22] keshav-nangare commented on #65
Fix with #67 PR.

[2020-08-13 16:51] greatzzk commented on #64
@keshav-nangare thanks, let me know if i could use te2 to try out your new fix.

[2020-08-13 16:51] greatzzk commented on #65
@keshav-nangare thanks, let me know if i could use te2 to try out your new fix.

[2020-08-20 07:10] keshav-nangare commented on #64
@dstenger

I have updated XPath for tests mentioned in an earlier comment. Please find changes in the same PR.

[2020-11-20 20:17] #65 closed

[2020-11-20 20:18] dstenger commented on #65
@greatzzk We will update the Beta environment (https://cite.opengeospatial.org/te2/) next week and the update will contain the fix for this issue.

[2020-11-20 20:51] #64 closed

[2020-11-20 20:51] dstenger commented on #64
@greatzzk We will update the Beta environment (https://cite.opengeospatial.org/te2/) next week and the update will contain the fix for this issue.

[2020-11-20 21:24] dstenger commented on #41
@keshav-nangare
When testing with https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs111?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.1.1 all 4 modified tests are failing.
However, those tests were passed before (you can revert the two commits of the feature branch).
Can you please check why the test result changed?
You can also use following service for testing: https://dem

[2020-12-04 08:35] keshav-nangare commented on #41
@dstenger

I have fixed the tests which were getting failed. Now some of the next tests are getting failed because the request's response is multipart and test using XMLValidatingParser as it's not supporting that response type. Should I update all the tests which are failing with above reason?

[2020-12-11 08:19] keshav-nangare commented on #41
@dstenger

I have updated the remaining tests having parser problems and tested changes on my machine successfully. Please find the changes in the same PR.

[2020-12-22 11:42] keshav-nangare opened #68 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-07 11:44] keshav-nangare commented on #68
Fixed with #69 PR.

[2021-02-22 21:01] greatzzk opened #70 "WCS 1.1.1 DescribeCoverage_MinimalRequest test has problem"
sample service:
http://54.160.203.226:6080/arcgis/services/mynetcdf/ImageServer/WCSServer?&request=DescribeCoverage&service=WCS&identifiers=mynetcdf&version=1.1.1
let me know if testing service is inaccessible.

My service fails in this test. The log says:
[code]

My service has a <UOM> element inside the <ValuesUnit> element. I think this is a valid element according to spec. It should use <UOM>

[2021-02-23 10:14] ghobona commented on #70
@greatzzk

I have just reviewed the DescribeCoverage response and noticed that it is missing a namespace declaration.

Here is the first issue I found.

The root element is presented as:

[code]

Notice that the default namespace to which `CoverageDescriptions` belongs is missing. So you need to declare the default namespace of `xmlns="http://www.opengis.net/wcs/1.1" ` so that the parser know wher

[2021-02-23 10:57] ghobona commented on #70
The second issue is that `ValuesUnit` has been instantiated. The [schema](http://schemas.opengis.net/ows/1.1.0/owsDomainType.xsd) specifies `ValuesUnit` as a group, which means that it is not meant to be instantiated. Instead, it is the elements within the group that can be instantiated.

Please remember to also specify the namespace prefix.

So instead of `<ValuesUnit><UOM>Meters</UOM><ValuesUnit

[2021-02-23 11:09] ghobona commented on #70
The third issue is the positioning of the `UOM` and other elements from the `ValuesUnit` group.

The sequence of the elements is important and it is always top down.

The [schema](http://schemas.opengis.net/wcs/1.1/wcsDescribeCoverage.xsd) shows the `AvailableKeys` element appearing before `ValuesUnit`. Therefore, when instantiated `AvailableKeys` should appear above any elements from the `ValuesU

[2021-02-23 11:13] ghobona commented on #70
The original and fixed responses are attached.

[describeCoverageResponse.zip](https://github.com/opengeospatial/ets-wcs11/files/6028537/describeCoverageResponse.zip)

[2021-02-23 11:18] keshav-nangare commented on #70
@greatzzk

The service is inaccessible.

[2021-02-23 11:34] ghobona commented on #70
@greatzzk Please fix the issues in my previous comments and then let us know if the Validation error is addressed.

[2021-02-24 19:43] greatzzk commented on #70
@ghobona
We updated our server based on your direction, these failed tests are green now. thanks.
closing this issue

[2021-02-24 19:43] #70 closed

[2021-04-27 20:58] #68 closed

[2022-06-10 01:16] greatzzk opened #72 "GetCoverage_TemporalSubset_TimePeriod_With_Resolution has problem"
The test is to verify that when a GetCoverage request with a TimePeriod with resolution is submitted, the response is not an exception.

In my test, after describe coverage, it is making get coverage with the following request:
http://myserver:6080/arcgis/services/mynetcdf_111/ImageServer/WCSServer?&request=GetCoverage&identifier=mynetcdf&Format=image/GeoTIFF&service=WCS&BoundingBox=0,0,400,611,ur

[2022-06-10 12:34] dstenger commented on #72
Thank you for reporting.

I agree with your conclusion that the time format should be as defined in specification OGC 07-067r2:

[code]

However, the test retrieves the value of `TimeSequence` from a DescribeCoverage request.

Code:

https://github.com/opengeospatial/ets-wcs11/blob/9af484963980c57a33d188ef4c46003d9eb91fee/src/main/scripts/ctl/GetCoverage.xml#L4095

https://github.com/opengeospatia

[2022-06-10 17:44] greatzzk commented on #72
@dstenger thank you!
I will send you an email for accessing the testing service, but i hope the screenshot at the bottom explains it, in which describe coverage results have correct time format.
By looking at your code, it looks like it involves some numeric calculations, That part is very suspicious that could have trimmed the "0" in front of a month numer
![image](https://user-images.githubuserc

[2022-10-13 09:01] ghobona commented on #72
@greatzzk Is this issue still occurring?

[2022-10-17 23:20] greatzzk commented on #72
@ghobona are you able to reproduce the problem with my service?

[2022-10-18 12:28] dstenger commented on #72
@greatzzk Thank you for providing the endpoint. Yes, we are able to reproduce the problem.

[2022-10-21 21:57] greatzzk commented on #72
can this be deployed to te2 so that i can verify the issue?

[2022-10-24 08:23] dstenger commented on #72
@greatzzk We will create a new Beta release within coming week (by October 31). An announcement will be sent to the cite-forum mailing list.

[2022-10-25 13:31] dstenger commented on #41
Still, additional tests are failing when the pull request is tested with https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs111?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&VERSION=1.1.1.
The result of the test suite should not be changed by the pull request.

[2022-10-28 14:23] #72 closed